body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1{
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  font-weight: normal;
  margin: 50px auto 0 auto;
  padding-bottom: 20px;
}

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p{
  font-family: Arial Narrow,Arial,sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 2;
}

hr{
  border: dotted #40514E 5px;
  border-bottom: none;
  margin: 100px auto;
  width: 5%;
}

.contact-me{
  padding-bottom: 40px;
}

a{
  color:#f4f9f9;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #26001b;
}
.top-container{
  background-color: #FFE6E6;
  position:relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
.middle-container{
background-color: #FFE6E6;
}
.bottom-container{
  background-color: #b68973;
  padding: 40px 0 20px;
}

.skill-row{
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.intro{
  width: 30%;
  margin: auto;
}

.copyright{
  color:#f4f9f9;
  font-size: 0.75rem;
  padding: 20px 0;
}

.contact-message{
  width: 40%;
  margin:40px auto 60px;
}
.web{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud{
  position:absolute;
  left: 250px;
  bottom: 350px;
}

.app-img{
  width: 15%;
  float: left;
  margin-right: 30px;

}

.comp-img{
  width: 20%;
  float: right;
  margin-left: 30px;
}

.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
